<h2>Sign in</h2>

<%= twitter_bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.inputs "Sign In" do %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.actions do %>
      <%= f.submit "Sign in" %>
      <br />
      <br />
      <%= render :partial => "devise/shared/links" %>
    <% end %>
  <% end %>
<% end %>

