!!!
%html
  %head
    %title NgdaleReading
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "custom_pages"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :plain
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  %body
    .custom_navbar
      .container
        %ul.nav
          %li
            =link_to "Home", "/"
          %li
            =link_to "About Us", "#"
          %li
            =link_to "Services", "#"
          %li
            =link_to "Directions", "#"
          %li
            =link_to "Members", "/members"
          %li
            =link_to "Resources", "#"
          %li
            =link_to "Contact Us", "#"
    .container
      .main_header
        -unless flash.any?
          %h1.title_header The North Gardendale church of Christ
          %h3.verse_header "For where two or three are gathered together in my name, there am I in the midst of them." -- Matthew 18:20
        -else
          .container
            -if flash[:alert]
              .alert.alert-error
                %a.close{"data-dismiss" => "alert"}x
                = flash[:alert]
            -if flash[:notice] 
              .alert.alert-success
                %a.close{"data-dismiss" => "alert"}x
                = flash[:notice]
            -if flash[:error] 
              .alert.alert-error
                %a.close{"data-dismiss" => "alert"}x
                = flash[:error]
      .content
        = yield
    = javascript_include_tag "application"
    = yield :javascripts
