!!!
%html
  %head
    %title NgdaleReading
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .custom_navbar
      .container
        %ul.nav
          %li
            =link_to "Home", "#"
          %li
            =link_to "About Us", "#"
          %li
            =link_to "Services", "#"
          %li
            =link_to "Directions", "#"
          %li
            =link_to "Members", "/members"
          %li
            =link_to "Resources", "#"
          %li
            =link_to "Contact Us", "#"
    .container
      .main_header
        %h1.title_header The North Gardendale church of Christ
        %h3.verse_header "For where two or three are gathered together in my name, there am I in the midst of them." -- Matthew 18:20
      .content
        = yield
    = javascript_include_tag "application"
    = yield :javascripts
