!!!
%html
  %head
    %title NgdaleReading
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand= "NGDale CoC Members"
          %ul.nav
            %li
              =link_to "Logout", destroy_member_session_path, :method => :delete
    .container
      .content
        -if flash[:alert]
          .alert.alert-error
            %a.close{"data-dismiss" => "alert"}x
            = flash[:alert]
        -if flash[:notice] 
          .alert.alert-success
            %a.close{"data-dismiss" => "alert"}x
            = flash[:notice]
        -if flash[:error] 
          .alert.alert-error
            %a.close{"data-dismiss" => "alert"}x
            = flash[:error]
        = yield
